body {
    background-color: #f0e0d6;
    color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
}

header {
    text-align: center;
}

h1 {
    color: #800000;
}

.subtitle {
    font-style: italic;
}

.post-table {
    border: 1px solid #000;
    width: 100%;
    margin-bottom: 10px;
}

.post {
    padding: 10px;
}

.name {
    color: green;
}

.subject {
    color: blue;
}

.date {
    font-size: small;
    color: gray;
}

.message {
    margin-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.chess-board {
    border-collapse: collapse;
    border: 2px solid #000;
    margin: 10px 0;
}

.chess-board td {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
}

.light {
    background-color: #f0d9b5;
}

.dark {
    background-color: #b58863;
}

.diagram {
    display: inline-block;
}